@import '../../../styles/settings.scss';

.component {
  text-align: center;
  color: #fff;
}

.title, .promoDescription {
  width: 100%;
}

.title {
  bottom: 40px;
}

.promoDescription {
  bottom: 10px;
}